absl-py==0.9.0
appdirs==1.4.4
asgiref==3.2.7
astor==0.8.1
attrs==19.3.0
Automat==20.2.0
bleach==3.1.4
certifi==2020.4.5.1
chardet==3.0.4
constantly==15.1.0
cycler==0.10.0
distlib==0.3.0
Django==3.0.7
docutils==0.16
filelock==3.0.12
gast==0.3.3
grpcio==1.29.0
h5py==2.10.0
html5lib==0.9999999
hyperlink==19.0.0
idna==2.9
imageai==2.1.5
incremental==17.5.0
inflection==0.4.0
joblib==0.15.1
Keras==2.3.1
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
kivy-deps.angle==0.1.10
kivy-deps.glew==0.1.12
kivy-deps.gstreamer==0.1.18
kivy-deps.sdl2==0.1.23
kiwisolver==1.2.0
Markdown==3.2.2
matplotlib==3.2.1
more-itertools==8.3.0
numpy==1.18.4
opencv-python==4.2.0.34
pandas==1.0.4
Pillow==7.1.2
protobuf==3.15.0
Pygments==2.6.1
PyHamcrest==2.0.2
pyparsing==2.4.7
pypiwin32==223
python-dateutil==2.8.1
pytz==2020.1
pywin32==227
PyYAML==5.3.1
Quandl==3.5.0
requests==2.23.0
scikit-learn==0.23.1
scipy==1.4.1
selenium==3.141.0
six==1.14.0
sklearn==0.0
sqlparse==0.3.1
tensorboard==1.12.2
tensorflow-tensorboard @ https://files.pythonhosted.org/packages/cc/fa/91c06952517b4f1bc075545b062a4112e30cebe558a6b962816cb33efa27/tensorflow_tensorboard-1.5.1-py3-none-any.whl
termcolor==1.1.0
threadpoolctl==2.1.0
urllib3==1.25.9
virtualenv==20.0.20
Werkzeug==1.0.1
zope.interface==5.1.0
